@font-face{
    font-family: 'FiraCode';
    font-display: swap;
    src: url('../font/WenDaoLingFeiXiaoKai-2.ttf') format("truetype");
}

body {
    font-family: "Microsoft YaHei", 'WenDaoLingFeiXiaoKai-2';
}